/* Page Home css
-------------------------------------------------------------- */
.visual-bg {
    position: fixed;
    z-index: 0;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: $homecolor;
    transition: all .3s ease-in-out;
}
.main {
    transition: all .2s ease-in-out;
    .zoomed & {
        opacity: 0;
    }
}
.sidebar {
    @media screen and (min-width: $desktop-small) {
        z-index: 3;
        position: fixed;
        top: 0;
        height: 100vh; width: 565px;
        min-height: 700px;
        transition: z-index 0s ease-in-out;
        @media screen and (min-width: $desktop-small) {
            .scrolled & {
                //transition-delay: 0.3s;
                //z-index: 2;
            }
        }
    }
}
.intro {
    transition: opacity 0.3s ease-in-out;
    @media screen and (min-width: $desktop-small) {
        display: flex;
        vertical-align: middle;
        text-align: center;
    }
    .zoomed & {
        opacity: 0;
    }
    &--behind {
        display: none;
        z-index: 1;
        opacity: 0;
        @media screen and (min-width: $desktop-small) {
            display: none;
            .scrolled & {
                opacity: 1;
            }
        }
    }
    &--above {
        z-index: 4;
        .chatting & {
            display: none;
            z-index: -2;
        }
        @media screen and (min-width: $desktop-small) {
            .scrolled & {
                // opacity: 0;
            }
            &.desktop-hidden {
                display: none;
            }
            .zoomed &,
            .chatting & {
                opacity: 0;
                transition-delay: .3s;
            }
        }
    }
}
.intro__title {
    position: relative;
    display: inline-block;
    color: $textcolor;
    text-align: left;
    line-height: 42px;
    font-family: $customfont-1;
    font-weight: 400;
    font-size: 38px;
    .fire {
        margin: 20px auto;
        text-align: center;
        img {
            max-width: 80px;
            height: auto;
        }
    }
    @media screen and (min-width: $desktop-small) {
        margin: 0;
        line-height: 82px;
        font-size: 80px;
        span {
            white-space: nowrap;
        }
        .fire {
            position: absolute;
            bottom: -22px;
            left: 434px;
            margin: 0;
            text-align: left;
            img {
                max-width: 60px;
                height: auto;
            }
        }
    }
}

.mobile-disclaimer {
    display: block;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 18px;
    @media screen and (min-width: $desktop-small) {
        display: none;
    }
}

.background-holder {
    position: fixed;
    z-index: 1;
    display: none;
    top: 0; left: 0;
    opacity: 0;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
    .zoomed & {
        opacity: 1;
    }
    @media screen and (min-width: $desktop-small) {
        display: block;
    }
}
