/* Page Home css
-------------------------------------------------------------- */
.visual-bg {
    position: fixed;
    z-index: 0;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: $homecolor;
    transition: all .3s ease-in-out;
}
.main {
    transition: all .2s ease-in-out;
    .zoomed & {
        opacity: 0;
    }
}
.intro {
    display: flex;
    vertical-align: middle;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    .zoomed & {
        opacity: 0;
    }
    &--behind {
        z-index: 1;
        opacity: 0;
        .scrolled & {
            opacity: 1;
        }
    }
    &--above {
        z-index: 4;
        .scrolled & {
            opacity: 0;
        }
    }
}
.intro__title {
    position: relative;
    display: inline-block;
    letter-spacing: 8.5px;
    text-align: left;
    color: $lightcolor;
    text-transform: uppercase;
    text-align: center;
    .fire {
        position: absolute;
        bottom: -4px; right: 10px;
        img {
            max-width: 60px;
            height: auto;
        }
    }
    @media screen and (min-width: $desktop-small) {
        margin: auto;
        line-height: 65px;
    }
}
.font-gradual {
    letter-spacing: 12.6px;
    font-size: 68px;
    font-family: $customfont-1;
    font-weight: 700;
    @media screen and (min-width: $desktop-small) {
        font-size: 68px;
    }
}
.font-peacesans {
    letter-spacing: 3.78px;
    font-size: 80px;
    font-family: $customfont-2;
    font-weight: 300;
    @media screen and (min-width: $desktop-small) {
        font-size: 70px;
    }
}
.font-zefani {
    position: relative;
    top: -11px;
    font-size: 45px;
    font-family: $customfont-3;
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 1px;
        left: 2px;
        width: 36px;
        height: 6px;
        background: $maincolor;
    }
    @media screen and (min-width: $desktop-small) {
        font-size: 45px;
    }
}
.font-bebas {
    letter-spacing: 10.78px;
    font-size: 70px;
    font-family: $customfont-4;
    font-weight: 300;
    @media screen and (min-width: $desktop-small) {}
}

.background-holder {
    position: fixed;
    z-index: 1;
    top: 0; left: 0;
    opacity: 0;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
    .zoomed & {
        opacity: 1;
    }
}
