/* Page Home css
-------------------------------------------------------------- */
.visual-bg {
    position: fixed;
    z-index: 0;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: $altcolor;
    transition: all .3s ease-in-out;
}

.intro {
    display: flex;
    vertical-align: middle;
    text-align: center;
}
.intro__title {
    display: inline-block;
    text-align: left;
    color: $maincolor;
    @media screen and (min-width: $desktop-small) {
        margin: auto;
        line-height: 116px;
        font-size: 70px;
        letter-spacing: 25.4px;
    }
}

.background-holder {
    position: fixed;
    z-index: 1;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
