/* Header css
 ----------------------------------------------------------------------------------------------------*/
.header__logo {
	z-index: 10;
	margin-top: 65px;
	margin-bottom: 40px;
	position: relative;
	display: inline-block;
	padding: 0 20px;
	@media screen and (min-width: $desktop-small) {
		position: fixed;
		top: 25%;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
	}
}
.header__logo-link {
	display: block;
	width: 200px;
	line-height: 24px;
	font-family: $customfont-2;
	font-size: 20px;
	text-transform: uppercase;
	color: $textcolor;
	.zoomed &,
	.chatting & {
		color: $textcolor;
	}
	span {
		margin-right: 5px;
	}
	@include hover {
		color: $textcolor;
	}
	.zoomed & {
		color: $lightcolor;
	}
}
.header__icon {
	display: block;
	width: 92px; height: 46px;
	color: $maincolor;
}
.header__img {
	@include img__responsive();
	margin: 0 auto $base-spacing;
}