/* Main Layout
----------------------------------------------------------------------------------------------------*/
.container {
	position: relative;
	@include container;
	padding: 0 10px;
	@media screen and (min-width: $desktop-small) {
		padding: 0;
	}
}
.content {
	@media screen and (min-width: $desktop-small) {
		@include span(9);
	}
}
.main__content {
	@media screen and (min-width: $desktop-small) {
		min-height: 100vh;
	}
}

