/* Menus
----------------------------------------------------------------------------------------------------*/
// Mobile open/close button */
.button__menu-open {
	display: block;
}
.button__menu-close {
	display: none;
}
// Mobile menu stop scroll on body and display button */
.menu-mobile--active {
	overflow: hidden;
	.button__menu-open {
		display: none;
	}
	.button__menu-close {
		display: block;
	}
}
.button__menu-container {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	@media screen and (min-width: $desktop-small) {
		display: none;
	}
}
.menu {
	@include clearfix;
	width: auto;
	.wrapper {
		padding: 0;
	}
	ul {
		margin: 0;
		@include clearfix;
		&>li {
			line-height: 17px;
			font-family: $customfont-5;
			font-weight: 700;
			font-size: 12px;
			text-transform: uppercase;
			&>a {
				display: inline-block;
				color: $lightcolor;
				.zoomed &,
				.chatting & {
					color: $lightcolor;
				}
			}
			@include hover {

			}
		}
	}
	@media screen and (min-width: $desktop-small) {
		//reset mobile menu position and dimensions
		position: fixed;
		z-index: 10;
		top: 50%; right: 4%;
		left: auto;
		margin-top: -21px;
		display: inline-block;
		transition: all .5s cubic-bezier(.9, 0, 0, 1);
		transition-delay: 1s;
		ul {
			&>li {
				display: block;
				position: relative;
				text-align: right;
				@include hover {
					ul {
						top: 40px;
					}
				}
			}
		}
		.chatting & {
			right: calc(550px + 4%);
			transition-delay: 0s;
		}
	}
}
#nav-work {
	.zoomed & {
		display: none;
	}
}
#back-to-work {
	display: none;
	.zoomed & {
		display: block;
	}
}