/* Menus
----------------------------------------------------------------------------------------------------*/
// Mobile open/close button */
.button__menu-open {
	display: block;
}
.button__menu-close {
	display: none;
}
// Mobile menu stop scroll on body and display button */
.menu-mobile--active {
	overflow: hidden;
	.button__menu-open {
		display: none;
	}
	.button__menu-close {
		display: block;
	}
}
.button__menu-container {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	@media screen and (min-width: $desktop-small) {
		display: none;
	}
}
.menu {
	position: relative;
	z-index: 999;
	@include clearfix;
	width: auto;
	padding: 0 10px;
	.wrapper {
		padding: 0;
	}
	ul {
		margin: 0;
		@include clearfix;
		&>li {
			display: block;
			margin-bottom: 15px;
			line-height: 17px;
			font-family: $customfont-3;
			font-weight: 400;
			font-size: 13px;
			text-transform: uppercase;
			&>a {
				display: inline-block;
				color: $textcolor;
				.zoomed & {
					color: $lightcolor;
				}
			}
			@include hover {

			}
		}
	}
	@media screen and (min-width: $desktop-small) {
		//reset mobile menu position and dimensions
		position: fixed;
		z-index: 10;
		bottom: 18%;
		left: auto;
		display: inline-block;
		padding: 0 10px;
		transition: all .5s cubic-bezier(.9, 0, 0, 1);
		transition-delay: 1s;
		ul {
			&>li {
				margin-bottom: 0;
				display: inline-block;
				position: relative;
				margin-right: -4px;
				a {
					margin-right: 24px;
				}
				@include hover {
					ul {
						top: 40px;
					}
				}
			}
		}
		.social-link {
			display: none;
			.chatting & {
				display: inline-block;
			}
		}
	}
}
#nav-work {
	display: none;
	@media screen and (min-width: $desktop-small) {
		.chatting & {
			display: inline-block;
		}
	}
}
#nav-back-to-work {
	display: none;
	.zoomed & {
		display: inline-block;
	}
	.zoomed.chatting & {
		display: none;
	}
}
#nav-about {
	.chatting & {
		display: none;
	}
}