/* Sections
----------------------------------------------------------------------------------------------------*/
.projects-wrapper {
    position: relative;
    z-index: 2;
    width: 90%;
    margin: 100vh auto 0;
    transition: opacity 0.2s ease-in-out;
    outline: none;
    @media screen and (min-width: $desktop-small) {
        width: 768px;
        animation: showProjects 1s ease-in-out forwards;
    }
    .zoomed & {
        opacity: 0;
    }
    &__col {
        @include clearfix;
        @media screen and (min-width: $desktop-small) {
            width: 41%;
        }
        &--left {
            @media screen and (min-width: $desktop-small) {
                float: left;
                margin: 0px 1% 0 5%;
            }
        }
        &--right {
            padding-top: 200px;
            @media screen and (min-width: $desktop-small) {
                float: right;
                margin: 0 5% 0 1%;
            }
        }
    }
}
@keyframes showProjects {
    0% { margin-top: 20vh; }
    100% { margin-top: 0; }
}
.project {
    position: relative;
    margin-bottom: 65px;
    @media screen and (min-width: $desktop-small) {
        display: flex;
        align-items: center;
    }
    &__title {
        position: relative;
        margin-bottom: 30px;
        font-size: 20px;
        font-family: $customfont-5;
        font-weight: 900;
        text-transform: uppercase;
        span {
            display: inline-block;
            position: relative;
            z-index: 1;
            overflow: hidden;
            color: transparent;
            transition: color .3s ease-in-out;
            transition-delay: .3s;
            &:after {
                content: "";
                position: absolute;
                z-index: 2;
                top: 0;
                right: 100%;
                width: 100%;
                height: 100%;
                background: $lightcolor;
                transition: right .5s ease-in-out;
            }
            &:last-of-type {
                transition-delay: .8s;
                &:after {
                    transition-delay: .5s;
                }
            }
        }
        @media screen and (min-width: $desktop-small) {
            position: absolute;
            top: 60%;
            margin: 0;
            .scrolled & {
                span {
                    color: $lightcolor;
                    &:after {
                        right: -100%;
                    }
                }
            }
            .projects-wrapper__col--left & {
                left: -50px;
            }
            .projects-wrapper__col--right & {
                left: 85%;
            }
        }
    }
    &__metas {
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
        opacity: 0;
        transition: all .6s ease-in-out;
        transition-delay: 3s;
        max-height: 0;
        overflow: hidden;
        .zoomed & {
            opacity: 1;
            max-height: 30px;
        }
    }
    &__metas__item {
        display: inline-block;
        width: 140px;
        margin: 0 10px;
        text-align: left;
        font-size: 10px;
        font-weight: 600;
        font-family: $customfont-5;
        color: $lightcolor;
        text-transform: uppercase;
        span {
            display: block;
            font-weight: 300;
            font-size: 11px;
            font-family: $customfont-6;
        }
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
        transition: all .3s;
    }
    &__link {
        display: block;
        outline: none;
        @include hover {
            cursor: url(#{$images-url}/cursor-hover.svg), pointer;
            img {
                transform: rotate(-7deg) scale(0.85);
            }
        }
    }
    &__description {
        max-width: 490px;
        margin: 0 auto 60px;
        line-height: 22px;
        font-family: $customfont-6;
    }
}


// Zoom tpl
.close-project {
    position: fixed;
    z-index: 10;
    top: 0; left: 50%;
    margin-left: -90px;
    .active & {
        opacity: 1;
    }
}
.project-zoom-tpl {
    position: relative;
    z-index: 0;
    #canvas {
        display: none;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 11;
        width: 100%; height: 100%;
        .zoomed & {
            display: block;
        }
    }
    @media screen and (min-width: $desktop-small) {
        padding-top: 20vh;
        transition: all .5s ease-in-out;
        transition-delay: .6s;
        .zoomed & {
            z-index: 3;
            display: block;
            padding-top: 13vh;
        }
    }
}
.project-zoom {
    position: relative;
    z-index: 1;
    display: none;
    text-align: center;
}
.project-slide {
    margin-bottom: 100px;
}