/* Sections
----------------------------------------------------------------------------------------------------*/
.projects-wrapper {
    position: relative;
    z-index: 2;
    transition: opacity 0.2s ease-in-out;
    .zoomed & {
        opacity: 0;
    }
}
.next-project {
    position: fixed;
    z-index: 10;
    bottom: 0; left: 50%;
    margin-left: -50px;
    .scrolled & {
        opacity: 1;
    }
    .zoomed & {
        opacity: 0;
    }
    .lastScroll & {
        opacity: 0;
    }
}
.project {
    @media screen and (min-width: $desktop-small) {
        display: flex;
        align-items: center;
    }
}
.project__metas {
    width: 100%;
    margin-bottom: 17px;
    text-align: center;
    @media screen and (min-width: $desktop-small) {

    }
}
.project__metas__item {
    display: inline-block;
    width: 140px;
    text-align: left;
    font-size: 11px;
    font-weight: 500;
    color: $maincolor;
    text-transform: uppercase;
    span {
        display: block;
        font-weight: 300;
    }
}
.project-link {
    display: block;
}


// Zoom tpl
.close-project {
    position: fixed;
    z-index: 10;
    top: 0; left: 50%;
    margin-left: -90px;
    .active & {
        opacity: 1;
    }
}
.project-zoom-tpl {
    position: relative;
    z-index: 3;
    #canvas {
        display: none;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 11;
        width: 100%; height: 100%;
        .zoomed & {
            display: block;
        }
    }
}
.project-zoom {
    position: relative;
    z-index: 1;
    display: none;
    text-align: center;
}
.project-slide {
    margin-bottom: 100px;
}