/* Sections
----------------------------------------------------------------------------------------------------*/
.project {
    @media screen and (min-width: $desktop-small) {
        display: flex;
        align-items: center;
    }
}
.project__metas {
    width: 100%;
    margin-bottom: 17px;
    text-align: center;
    @media screen and (min-width: $desktop-small) {

    }
}
.project__metas__item {
    display: inline-block;
    width: 140px;
    text-align: left;
    font-size: 11px;
    font-weight: 500;
    color: $maincolor;
    text-transform: uppercase;
    span {
        display: block;
        font-weight: 300;
    }
}

canvas { position: absolute; top: 0; left: 0; z-index: -1; }
canvas + canvas { opacity: 0.3; z-index: -2; }