/* Sections
----------------------------------------------------------------------------------------------------*/
.section {
    &--full {
        @media screen and (min-width: $desktop-small) {
            position: relative;
            width: 100%; height: auto;
            &.intro {
                position: absolute;
                top: 32%;
                margin-bottom: 0;
                transition: all .5s cubic-bezier(0.22, 0.61, 0.35, 0.98);
            }
        }
    }
}